* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: #373E4D;
    --light: #fff;
    --lightBlue: #63C5EA;
}
body {
    font-family: sans-serif;
    /* background-color: var(--dark); */
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    max-width: 512px;
    margin: auto;
    margin-bottom: 50px;
}
    
p {
    /* color: #ffffff; */
    border: 1px solid var(--dark);
    padding: 10px;
    margin:10px;
    text-align: center;
    border-radius: 10px;
}
    
#right {
    text-align: right;}
    
#left {
    text-align: left;}

a:link {
    color: #CF8EF4;
    font-weight: bold;
    text-decoration: none;}
    
a:visited {
    color: #FA5AA4;
    text-decoration: underline;
    font-weight: normal}
    
a:hover {
    text-decoration: underline;}
    
a:active{
    color: #ffffff;}
    
a:focus{
    color: #ffffff;}
    
h1, h2, h3{
    color: var(--light);
    background-color: #555B68;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    margin: 20px 10px 20px 10px;
    padding: 10px;}
    
ul {
    color: #ffffff;}
    
.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item-link{
	margin-right: 10px
}

img {
	width:100%;
	overflow: scroll;
}

#main {
    text-align: left;
}

/* Grayish Purple (Base color): #8B79B1
Light Purple: #B8A1D8
Light Gray: #E8E8E8
Dark Gray: #333333
Soft Pink: #F2D9F3 */

/* Deep Blue (Base color): #1A202C
Cool Gray: #2D3748
Light Gray: #4A5568
Light Blue: #CBD5E0
Soft Orange: #FFA07A */